@charset "UTF-8";


@font-face {
	font-family: "Party";
	src: url("party.ttf");
}

body {
	font-family: "Party";
	
}

#calTbl {
	
	width: 1000px;
	height: 500px;
	position: absolute;
	margin-left: 50px; 
}

#calTbl td {
    width: calc(100% / 7);   /* 7칸 균등 분배 */
    height: 120px;           /* 원하는 높이 */
    padding: 4px;
    vertical-align: top;
    box-sizing: border-box;
}


#calTbl .calText {
	margin-top: 5px;
	font-size: 7pt;
	color: green;
}


#receiptInfoTbl {
	width: 250px;
	height: 300px;
	margin-right:80px;
	margin-left:auto;
	margin-top: 10px;
	table-layout: fixed;

	border-bottom: black solid 5px;
	border-top: black solid 5px;
	border-right: black solid 5px;
	border-left: black solid 5px;
	text-align: center;
	
}


#receiptInfoTbl .receiptInfoTitle {
	background-color: #acff5c80;
	border-bottom: black solid 3px;
	height: 100px;
}

#receiptInfoTbl .totalPrice {
	
	border-bottom: black solid 3px;
}

#days {
	margin-left: 50px;
}


#infoTbl {
	margin-right:130px;
	margin-left:auto;
	margin-top: 150px;
	text-align: center;
}

#detail {
	
	margin-top: 200px;
	table-layout: fixed;
}


/* 달력 안의 a 태그 공통 스타일 */
#calTbl a {
    text-decoration: none;   /* 🔹 밑줄 제거 */
    color: blue;             /* 기본 색 */
}

/* 방문한 링크도 똑같이 보이게 */
#calTbl a:visited {
    color: blue;             /* 🔹 보라색으로 안 바뀌게 */
}

/* 선택/호버 시 효과 주고 싶으면 (선택 사항) */
#calTbl a:hover {
    
    cursor: pointer;
}
