<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SignupMapper">
	<insert id="InsertSignup" parameterType="com.example.demo.DTO.SignupDTO">
		insert into signup values (#{t_name}, #{t_age})
	</insert>	

</mapper>